{
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-tailwindcss"]
}
